@use "vars" as v;

.clients {
	text-align: center;

	@media screen and (min-width: v.$breakpoint-xxl) {
		//   1920
		margin-bottom: 60px;
	}

	// .clients__name
	&__name {
		font-weight: 700;
		font-size: 14px;
		letter-spacing: 0.07em;
		text-transform: uppercase;
		color: v.$main-regular;
		margin-bottom: 30px;
	}

	// .clients__cards

	&__cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		height: 720px;
		overflow-y: auto;
		@media screen and (min-width: v.$breakpoint-md) {
			// 768
			height: 100%;
			overflow: hidden;
		}

		@media screen and (min-width: v.$breakpoint-xxl) {
			//  1920
			margin: 0 auto;
			border-radius: 12px;
			width: 1720px;
		}

		// .clients__cards-card

		&-card {
			display: flex;
			align-content: center;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			width: 100%;
			height: 120px;

			&:nth-child(1) {
				background: #1c4280;
			}
			&:nth-child(2) {
				background: #143646;
			}
			&:nth-child(3) {
				background: #f48b30;
			}
			&:nth-child(4) {
				background: #9e4dc3;
			}
			&:nth-child(5) {
				background: #fd9339;
			}
			&:nth-child(6) {
				background: #e2e2e4;
			}
			&:nth-child(7) {
				background: #c71c36;
			}
			&:nth-child(8) {
				background: #dcf3f9;
			}
			&:nth-child(9) {
				background: #eaeaea;
			}
			&:nth-child(10) {
				background: #282240;
			}
			&:nth-child(11) {
				background: #1d4568;
			}
			&:nth-child(12) {
				background: #000;
			}

			&:hover img {
				transform: scale(1.1);
			}

			@media screen and (min-width: v.$breakpoint-md) {
				// 768
				width: 256px;
				flex: 1 0 30%;
			}

			@media screen and (min-width: v.$breakpoint-lg) {
				//  1024
				flex: 1 0 25%;
			}
		}
	}
}
