@use "vars" as v;

.team {
    padding: 0 30px 60px;

    @media screen and (min-width: v.$breakpoint-md) {
        //  768
        padding: 0 60px 60px;
    }

    // .team__container

    &__container {
    }

    // .team__swiper

    &__swiper {
    }

    // .team__wrapper

    &__wrapper {
    }

    // .team__slide

    &__slide {
        border-radius: 12px;
        overflow: hidden;
        background: v.$grey-bg;

        @media screen and (min-width: v.$breakpoint-lg) {
            //   1024
            display: flex;
        }
    }

    // .team__image

    &__image {
        height: 500px;
        position: relative;

        @media screen and (min-width: v.$breakpoint-lg) {
            //   1024
            height: auto;
            flex: 1 0 400px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    // .team__inner

    &__inner {
        padding: 30px;
        // .team__inner-link

        &-link {
            font-weight: 700;
            font-size: 14px;
            letter-spacing: 0.07em;
            text-transform: uppercase;
            color: v.$active-regular;
        }

        // .team__inner-title

        &-title {
            font-weight: 700;
            font-size: 30px;
            background: v.$gradient-red-text;
            background-clip: text;
            color: transparent;
            margin-top: 5px;
            margin-bottom: 30px;
            @media screen and (min-width: v.$breakpoint-md) {
                //  768
                font-size: 38px;
            }
        }

        // .team__inner-name

        &-name {
            font-weight: 700;
            font-size: 16px;
            color: v.$grey-text;

            p + p {
                font-weight: 400;
                font-size: 14px;
                line-height: 22px;
                margin-top: 6px;
            }
        }
    }

    &__pagination {
        position: static;
        margin-top: 30px;
        // CHILDS
        .swiper-pagination-bullet {
            width: 16px;
            height: 16px;
            background: v.$active-regular;
        }
    }

    // .team__cards

    &__team {
        margin-top: 30px;
        @media screen and (min-width: v.$breakpoint-md) {
            //  768
            margin-top: 60px;
        }
        h2 {
            @media screen and (min-width: v.$breakpoint-lg) {
                margin-left: 120px;
                margin-right: 160px;
            }
            @media screen and (min-width: v.$breakpoint-xl) {
                //   //  1440
                margin-left: 180px;
                margin-right: 180px;
            }
        }
    }
    &__cards {
        display: flex;
        gap: 30px;
        flex-direction: column;
        margin-top: 30px;

        @media screen and (min-width: v.$breakpoint-md) {
            //  768
            flex-direction: row;
            flex-wrap: wrap;
            gap: 60px;
            margin-top: 60px;
        }
    }

    // .team__card

    &__card {
        @media screen and (min-width: v.$breakpoint-md) {
            //  768
            flex: 1 1 40%;
        }

        @media screen and (min-width: v.$breakpoint-lg) {
            flex: 1 1 25%;
        }
        // .team__card-image

        &-img {
            height: 300px;
            margin-bottom: 15px;
            @media screen and (min-width: v.$breakpoint-md) {
                //  768
                height: 400px;
            }
            img {
                border-radius: 12px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        // .team__card-name

        &-body {
            display: flex;
            justify-content: space-between;

            &:hover svg {
                fill: v.$accent;
                background: v.$grey-bg-alt;
            }
            &:hover h3 {
                color: v.$accent;
            }
        }
        &-name {
            font-weight: 700;
            font-size: 16px;
            color: v.$main-regular;

            p {
                margin-top: 5px;
                font-weight: 400;
                font-size: 14px;
                line-height: 22px;
                color: v.$grey-text;
            }
        }

        // .team__card-link

        &-link {
            height: 32px;
            width: 32px;
            svg {
                height: 32px;
                width: 32px;
                background: v.$grey-bg;
                fill: v.$active-regular;
                border-radius: 50%;
            }
        }
    }
}
:hover .link_more svg path {
    stroke: var(--color-accent);
}
.swiper {
    // .swiper-wrapper

    &-wrapper {
    }

    // .swiper-slide

    &-slide {
    }
}
